export(edytuj_skale)
export(pobierz_arkusz)
export(pobierz_czesc_egzaminu)
export(pobierz_dane_jednoroczne_gimnazjum)
export(pobierz_test)
export(pobierz_zrownywanie)
export(sprawdz_zrownanie)
export(stworz_skale)
export(wczytaj_spss)
export(wydziel_testy)
export(znajdz_skale)
